.footer {
  background-color: var(--text-color);
  color: var(--bg-color);
  display: flex;
  padding: 1rem 2rem;
}

.footer a {
  color: var(--bg-color);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.links, .social {
  flex: 1;
}

.link-list {
  list-style: none;
}

.link-list li {
  margin: .75rem;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.social-list i:before{
  font-size: 2rem;
}

.social-list a:hover{
  text-decoration: none;
}