/* HEADER */

.header {
  height: calc(100vh - 51px);    
}

.header-image {
  height: 100vh;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header > h1 {
  position: absolute;
  bottom: 30vh;
  left: 60vw;
  font-weight: 100;
}

.header > h1 > span {
  display: block;
  font-weight: 700;
  font-family: juego-tronos;
}

.header > .tagline {
  position: absolute;
  top: 60vh;
  left: 60vw;
}
