/*navbar css*/

/* NAVBAR HEADER */
.navbar {    
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-list {
    list-style-type: none;
    float: right;        
}

.navbar-item {
    display: inline-block;
}

.navbar-item:last-child {
    margin-right: 50px;
}

.navbar-item > a {
    text-decoration: none;
    color: #222222;    
    padding: 10px;
}

.navbar-item > a:hover { /*pseudoclases*/
    color: azure;
    background-color: #222222;
}

