@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: juego-tronos;
    src: url(../fonts/gt.ttf);
}

* {
    font-family: Roboto;
}

body {
    margin: 0;
}

/* NAVBAR HEADER */
.navbar {    
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-list {
    list-style-type: none;
    float: right;        
}

.navbar-item {
    display: inline-block;
}

.navbar-item:last-child {
    margin-right: 50px;
}

.navbar-item > a {
    text-decoration: none;
    color: #222222;    
    padding: 10px;
}

.navbar-item > a:hover { /*pseudoclases*/
    color: azure;
    background-color: #222222;
}

/* HEADER */

.header {
    height: calc(100vh - 51px);    
}

.header-image {
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
 
.header > h1 {
    position: absolute;
    bottom: 30vh;
    left: 60vw;
    font-weight: 100;
}

.header > h1 > span {
    display: block;
    font-weight: 700;
    font-family: juego-tronos;
}

.header > .tagline {
    position: absolute;
    top: 60vh;
    left: 60vw;
}
